astroid==2.0.4
autopep8==1.4
cachetools==2.1.0
certifi==2018.8.24
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.1
coveralls==1.5.0
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.2.13
django-braces==1.13.0
django-cors-headers==2.4.0
django-cors-middleware==1.3.1
django-extensions==2.1.2
django-filter==2.0.0
django-heroku==0.3.1
django-oauth-toolkit==1.2.0
django-rest-framework-social-oauth2==1.1.0
django-rest-swagger==2.2.0
djangorestframework==3.8.2
dnspython==1.15.0
docopt==0.6.2
future==0.16.0
facebook-sdk==3.0.0
futures==3.1.1
google-auth==1.5.1
gunicorn==19.9.0
idna==2.7
isort==4.3.4
itypes==1.1.0
Jinja2==2.10
lazy-object-proxy==1.3.1
Markdown==2.6.11
MarkupSafe==1.0
mccabe==0.6.1
oauthlib==2.1.0
openapi-codec==1.3.2
psycopg2==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycodestyle==2.4.0
pyIsEmail==1.3.2
PyJWT==1.4.2
pylint==2.1.1
python-decouple==3.1
python-http-client==3.1.0
python3-openid==3.1.0
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
rsa==4.0
sendgrid==5.6.0
simplejson==3.16.0
six==1.10.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
uritemplate==3.0.0
urllib3==1.23
whitenoise==4.1
wrapt==1.10.11
